/* Universal Selector */
*{
    margin: 0;
    padding: 0;
}

/* Elemental Selectors */
body {
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}


header {
    background-color: wheat;
    position: fixed;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 20px;
}
footer {
    background-color: wheat;
    display: block;
    margin-top: 15px;
    padding: 10px;
}

nav ul li {
    display: inline;
}